  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <a href="{{ site.oronjo }}" class="navbar-brand">
          <img src="images/oronjo_white.png" class="navbar-brand-logo" title="Oronjo" alt="Oronjo">
        </a>
        <a href="{{ site.oronjo }}" class="navbar-brand">Oronjo</a>


        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>


      <div class="navbar-collapse collapse" id="navbar-main">

        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Entries <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              {% include entries.html %}    
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>
