  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <a href="#" class="navbar-brand">
          <img src="images/oronjo_white.png" class="navbar-brand-logo" title="Oronjo" alt="Oronjo">
        </a>
        <a href="#" class="navbar-brand">Oronjo</a>


        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <i class="fa fa-bars"></i>
        </button>
      </div>


      <div class="navbar-collapse collapse" id="navbar-main">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{pathFor 'faq'}}">FAQs</a></li>


        </ul>

      </div>
    </div>
  </div>
